.Item{
    width: 100%;
}
td {
    padding: 8px;
    border: 1px solid #ddd;
    width: 500px; /* Allow data cells to expand based on content */
    /* Allow data cells to expand without restriction */
  }
  
  /* Optional: Add hover effect to table rows */
  tr:hover {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) {
    background-color: #cfcfcf;
  }