.Home{
    margin-top: 3%;
    width: 75vw;
    margin-left: 19%;
    height: 80vh; /* 100% of the viewport height */
    gap: 5px;
}

.HomeTope{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.HomeTope{
    
    gap: 10px;
}