/* SalesOverViews.module.css */
.Sales {
  /* Your existing styles for the card container */

  display: grid;
  grid-template-rows: 50% 50%;
 
  color: black;
  
 
  /* Add any other styles for the card container here */
} 
.Sales h2{
  display: block;
  margin: 25px 5px ;
}

.SalesContainer {
  /* Add styles for the container of sales items */
  display: flex;
  justify-content: space-between;
  /* Add any other styles for the container of sales items */
}

