.ModifySupplier{
    margin-top: 8%;
    width: 74vw;
    margin-left: 30.5%;
    height: 90vh;
    .ModifySupplierForm{
        margin: 2% 20% ;
        width: 60%;
        input{
            height: 30px;
        }
    }
}